.post-title-section h3.home-post-title {
    margin: 0px;
    font-size: 20px;
}
.post-excerpt-section p {
    font-size: 16px;
    color: #000000d4;
}
.post-date-section p {
    font-size: 14px;
    color: #3a3939;
}
.inner-post {
    border: 1px solid #ccc;
    padding: 10px 0px;
    margin: 20px 0px;
}
.post-img-section {
    align-self: center;
}
.post-section {
    display: flex;
    flex-direction: row;
    height: 100% !important;
}
.post-filter{
    padding: 60px 0px;
}
ul.cat-list {
    list-style: none;
    display: inline-flex;
    margin-bottom: 0px;
}
.post-title-section a, a.category-filter, a.category-filter {
    text-decoration: none;
}
.categories {
    width: 100%;
    text-align: center;
}
.categories {
    width: 100%;
    text-align: center;
    padding-top: 50px;
}
.post-excerpt-section {
    min-height: 75px;
}
.category-filter, ul.cat-list a.active {
    border: 1px solid #ccc;
    padding: 0px 40px;
    border-radius: 20px;
    margin: 0px 10px;
}
li.js-filter-item, li.js-filter {
    text-align: center !important;
    margin: 3px 0px;
}
/* Media Queries */
@media only screen and (max-width: 849px) {
    .category-filter, ul.cat-list a.active {
        padding: 0px 15px;
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 767px) {
    .post-title-section h3 {
        padding-top: 20px;
    }
}
@media only screen and (max-width: 549px) {
    ul.cat-list {
        display: inline-grid;
    }
}